@import url(https://fonts.bunny.net/css?family=alatsi:400);

:root {
    --accent1: #6133b4;
    --accent2: #c2a1ff;
    --light: #f0fff1;
    --dark: #040404;
    --semantic-success: #1a936f;
    --semantic-error: #ba1200;
}
body {
    background-color: var(--light);
    color: var(--dark);
    margin: 0;
    padding: 0;
    font-family: 'Alatsi', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
}
.header h1{
    font-size: 32px;
}
.header {
    background-color: var(--accent1);
    color: var(--accent2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
.panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.content {
    display: flex;
    padding: 10px;
    width: 800px;
    flex-direction: column;
}
.buttons, input {
    flex-grow: 1;
    width: 100%;
}
#task {
    padding: 10px;
    border: 3px solid var(--accent1);
    border-radius: 10px;
    box-sizing: border-box;
    font-family: 'Alsatsi', sans-serif;
    font-size: 24px;
}
.buttons {
    padding-top: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    font-family: 'Alsatsi', sans-serif;
    font-weight: bold;
    color: var(--light)
}
#submitBtn {
    background-color: var(--semantic-success);
    flex-grow: 2;
}
#clearBtn {
    background-color: var(--semantic-error);
    flex-grow: 1;
}